@model IEnumerable<EMSAPI.Models.Booking>

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="background-image : url('https://kinsta.com/wp-content/uploads/2020/04/wordpress-events-plugin-1.jpg')">
    <h2>Booking Details</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="jumbotron jumbotron-fluid">
        <div class="table-responsive">
            <table class="table">
                <tr class="active">
                    <th>
                        @Html.DisplayNameFor(model => model.BOOKINGID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EVENTID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USERID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BOOKINGDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PAYMENTSTATUS)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td>
                            @Html.DisplayFor(modelItem => item.BOOKINGID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EVENTID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.USERID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BOOKINGDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAYMENTSTATUS)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.BOOKINGID }, new { @class = "btn btn-success"}) 
                            @Html.ActionLink("Details", "Details", new { id = item.BOOKINGID }, new { @class = "btn btn-success" }) 
                            @Html.ActionLink("Delete", "Delete", new { id = item.BOOKINGID }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Index", "Index", "Login")
    </div>
</body>
</html>



