
@{
    ViewBag.Title = "Index";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body style="background-image : url('https://kinsta.com/wp-content/uploads/2020/04/wordpress-events-plugin-1.jpg')">

        <fieldset style="align-items:center">
            <br />
            <span class="badge badge-secondary"><H4>@Session["USERTYPE"] DashBoard</H4></span><br /><br />
            
            @if (Session["USERID"] != null)
            {
                <span class="badge badge-secondary"><h4>WELCOME&nbsp;&nbsp;&nbsp;<strong>@Session["USERNAME"]!</strong></h4></span><br />


            }
            <br />
            <div class="jumbotron jumbotron-fluid">
                @if (Session["USERTYPE"].Equals("ADMIN"))
                {
                    <h3>@Html.ActionLink("USERS", "Index", "AdminUser", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                    <h3>@Html.ActionLink("EVENTS", "Index", "AdminEvent", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                    <h3>@Html.ActionLink("BOOKINGS", "Index", "AdminBooking", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                    <h3>@Html.ActionLink("REPORT", "Index", "AdminReport", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                }
                @if (Session["USERTYPE"].Equals("MANAGER"))
                {
                    <h3>@Html.ActionLink("BOOKINGS", "Index", "Booking", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                    <h3>@Html.ActionLink("REPORT", "Index", "AdminReport", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                }
                @if (Session["USERTYPE"].Equals("CONSULTANT"))
                {
                    <h3>@Html.ActionLink("BOOKINGS", "Index", "Booking", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                    <h3>@Html.ActionLink("REPORT", "Index", "AdminReport", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                }
                @if (Session["USERTYPE"].Equals("CUSTOMER"))
                {
                    <h3>@Html.ActionLink("BOOKINGS", "Index", "Booking", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                    <h3>@Html.ActionLink("REPORT", "Index", "AdminReport", null, new { @class = "btn btn-primary btn-lg btn-block" })</h3><br />
                }

                <h2>@Html.ActionLink("Logout", "Index", "Home", null, new { @class = "btn btn-danger btn-lg btn-block" })</h2>
            </div>
        </fieldset>
    </body>
    </html>


   

